main > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

#countor_area{
    float: right;
    margin: -15px 0;
}

.footer {
    background-color: #d3d3d3;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
